<div class="d-flex justify-content-center">
    <form
      [formGroup]="typeLogementForm"
      (ngSubmit)="onSubmitFormGroupe()"
      *ngIf="typeLogementForm"
    >
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="lib">Type de logement:</label>
            <input
              type="text"
              [ngClass]="{
                'is-valid': validForm && !typeLogementForm.controls.lib.errors,
                'is-invalid': validForm && typeLogementForm.controls.lib.errors
              }"
              class="form-control"
              id="lib"
              formControlName="lib"
              placeholder="lib"
              name="lib"
              ngModel
            />
            <div class="invalid-feedback">Libellé obligatoire !</div>
          </div>
        </div>
  
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Ajouter</button>
            <button class="btn btn-primary" type="submit" routerLink="/types_logements">
              Liste de types de logements
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  