<div class="card">
  <div class="card-header">
    <h4 class="card-title">Liste des options</h4>
    <button
      class="btn rounded-pill btn-primary pull-right"
      routerLink="/options/add"
    >
      <i class="bi bi-plus"></i> Nouvelle option
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table 
      class="table table-bordered table-hover"
      *ngIf="options.length > 0" datatable [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">#</th>
            <th class="text-dark font-medium fs-4">Lib</th>
            <th class="text-dark font-medium fs-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let op of options">
            <td class="fs-4"> <span *ngIf="op.icon"
              ><img
                [src]="op.icon"
                width="45"
                class="rounded"
            /></span></td>
            <td class="fs-4">{{ op.lib }}</td>
            <td>
              <button
                class="btn rounded-circle btn-success" routerLink="/options/update/{{ op._id }}"><i class="bi bi-pencil"></i></button>
              <button
                class="btn rounded-circle btn-danger" (click)="suppOption(op._id)"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
