<div class="card">
  <div class="card-header">
    Liste des criteres
    <button
      class="btn rounded-pill btn-primary pull-right"
      routerLink="/criteres/add"
    >
      <i class="bi bi-plus"></i> Nouveau critère
    </button>
  </div>
  <div class="card-body">
    
    <div class="table-responsive">
      <table class="table align-middle" *ngIf="criteres.length > 0" datatable [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">Libellé</th>
            <th class="text-dark font-medium fs-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of criteres">
            <td class="fs-4">{{ c.lib }}</td>
            <td>
              <button
                class="btn rounded-circle btn-success me-2"
                routerLink="/criteres/update/{{ c._id }}"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <button
                class="btn rounded-circle btn-danger"
                (click)="suppCritere(c._id)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
