<div class="card">
  <div class="card-header">
    <!-- title -->
    <h4 class="card-title">Liste des installations</h4>
    <button
      class="btn rounded-pill btn-primary pull-right"
      routerLink="/installations/add"
    >
      <i class="bi bi-plus"></i> Nouvelle installation
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered table-hover"
        *ngIf="installations.length > 0"
        datatable
        style="width: 100%"
        [dtOptions]="dtOptions"
      >
        <thead>
          <tr>
            <th class="col-1">#</th>
            <th class="col-9 col-sm-8">Lib</th>
            <th class="col-2 col-sm-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of installations">
            <td class="fs-4">
              <span *ngIf="i.icon"
                ><img
                  [src]="i.icon"
                  alt="user"
                  width="45"
                  class="rounded"
              /></span>
            </td>
            <td>{{ i.lib }}</td>
            <td>
              <button
                class="btn rounded-circle btn-success"
                routerLink="/installations/update/{{ i._id }}"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <button
                class="btn rounded-circle btn-danger"
                (click)="suppInstallation(i._id)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
