<div class="card">
  <div class="card-body">
    <h4 class="card-title">Événements virtuels et hybrides</h4>
    <h5 class="card-subtitle text-muted">Créez un lien avec votre public</h5>
    <div class="row">
      <div class="col-4">
        <img
          src="../../assets/images/images.jpg"
          class="img-fluid"
          alt="elite-ang"
        />
      </div>
      <div class="col-8">
        <p>
          College Management System Demo Our school management software is an
          offline school management software running on the desktop. It is
          specially designed to fulfill all the requirements of educational
          institutes.
        </p>
        <p>
          It is protected, reliable, and has a user-friendly interface. It is
          Ethiopia’s most widely used software. The first use of this software
          started at Sandford International School and International Community
          School Addis Ababa, Ethiopia. School Management Software gives you
          almost every facility about your school record.
        </p>
        <a href="../../assets/videos/testVideo.mp4" class="btn btn-primary"
          >Regarder video</a
        >
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <img
        src="../../assets/images/school.jpg"
        class="img-fluid"
        alt="elite-ang"
      />
    </div>
    <h4 class="card-title">
      Organisateur de Conférences Virtuelles et Hybrides
    </h4>
    <h5 class="card-subtitle text-muted">
      Les évènements virtuels et hybrides QED
    </h5>
    <p>
      Chez QED, nous combinons plusieurs années d’expérience en évènementiel à
      l’importante expertise technique nécessaire à l’organisation d’évènements
      virtuels et hybrides réussis. Nous nous assurons que votre événement se
      démarque et que votre public cible reste engagé sur la durée! ​ .
    </p>
    <p>
      QED est un guichet unique qui fournit tous les services nécessaires à
      l’organisation de votre évènement : conception de l’évènement, programme,
      gestion et coordination, prospection de speakers, design & branding,
      marketing, gestions des inscriptions, location d’un studio tout équipé,
      mise en place d’une plateforme virtuelles vos événements live, gestion du
      streaming, et bien d’autres… Vous n’avez plus qu’à faire votre choix!
    </p>
    <p>
      Notre équipe maitrise tous les éléments nécessaires à l’organisation
      d’évènements virtuels et hybrides. Nous mettons notre expertise technique
      et logistique au service de votre évènement et nous assurons qu’il délivre
      le bon message et maximise son impact! Pour nous, il est crucial que les
      participants en ligne se sentent pleinement intégrés à l’évènement. Nous
      encourageons donc leurs échanges avec les autres participants et
      maximisons leurs interactions avec les speakers et sponsors
    </p>
    <p>
      En travaillant avec vous, nous nous engageons à organiser un véritable
      évènement – au-delà d’un simple meeting ou webinar. Nous mettons tous les
      outils à votre disposition pour faire de votre évènement une conférence
      virtuelle ou hybrid mémorable!
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <img
          src="../../assets/images/images (1).jpg"
          class="img-fluid"
          alt="elite-ang"
        />
        <h4>Students</h4>
        <p>
          Here it manages Student Registration, Admissions, Attendance, Classes,
          and Sections.
        </p>
      </div>

      <div class="col-4">
        <img
          src="../../assets/images/images (1).jpg"
          class="img-fluid"
          alt="elite-ang"
        />
        <h4>Staff</h4>
        <p>Users management feature manage school staff and their salaries.</p>
      </div>

      <div class="col-4">
        <img
          src="../../assets/images/images (1).jpg"
          class="img-fluid"
          alt="elite-ang"
        />
        <h4>Fee</h4>
        <p>
          It helps you manage monthly and occasional fees collection, fee
          assignment and arrears.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img
          src="../../assets/images/images (1).jpg"
          class="img-fluid"
          alt="elite-ang"
        />
        <h4>Reports</h4>
        <p>
          Daily, weekly, monthly and yearly reports with attractive designs are
          available on a single click.
        </p>
      </div>

      <div class="col-4">
        <img
          src="../../assets/images/images (1).jpg"
          class="img-fluid"
          alt="elite-ang"
        />
        <h4>Exams</h4>
        <p>
          Exams are managed by names, dates and subjects, it’s very easy to find
          result of a specific student.
        </p>
      </div>

      <div class="col-4">
        <img
          src="../../assets/images/images (1).jpg"
          class="img-fluid"
          alt="elite-ang"
        />
        <h4>Backup</h4>
        <p>
          On daily bases system generate backup of full database on two
          different paths.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Votre événement virtuel</h4>
    <div class="row">
      <div class="col-4">
        <img
          src="../../assets/images/PC1.webp"
          class="img-fluid"
          alt="elite-ang"
        />
        <p>
          Un événement virtuel est entièrement organisé en ligne: les
          participants interagissent en ligne et ne se rencontrent pas dans un
          lieu physique.
        </p>
      </div>

      <div class="col-4">
        <img
          src="../../assets/images/POLL2.webp"
          class="img-fluid"
          alt="elite-ang"
        />
        <p>
          Un événement hybride combine à la fois un évènement en présentiel et
          une retransmission en ligne.
        </p>
      </div>

      <div class="col-4">
        <img
          src="../../assets/images/SIT3.webp"
          class="img-fluid"
          alt="elite-ang"
        />
        <p>
          Notre studio professionnel est disponible et entièrement équipé pour
          animer votre événement virtuel. Vos orateurs ont la possibilité de se
          rendre sur place tout en interagissant avec les participants via notre
          plateforme interactive.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="row">
    <a href="../../assets/videos/testVideo.mp4" class="btn btn-warning"
      >Nous contacter</a
    >
  </div>
</div>
