<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Bootstrap Template Atlas</title>
    <meta name="description" content="Free bootstrap template Atlas" />
    <link
      rel="icon"
      href="assets/images/img/favicon.png"
      sizes="32x32"
      type="image/png"
    />
  </head>

  <body>
    <!-- banner -->
    <div
      class="jumbotron jumbotron-fluid"
      id="banner"
      style="background-image: url(assets/images/img/banner-bk.jpg)"
    >
      <div class="container text-center text-md-left">
        <header>
          <div class="row justify-content-between">
            <div class="col-2">
              <img src="assets/images/img/logo.png" alt="logo" />
            </div>
            <div class="col-6 align-self-center text-right">
              <a href="/auth/login" class="text-white lead">Login</a> /
              <a href="users/register" class="text-white lead">Register</a>
            </div>
          </div>
        </header>
        <h1
          data-aos="fade"
          data-aos-easing="linear"
          data-aos-duration="1000"
          data-aos-once="true"
          class="display-3 text-white font-weight-bold my-5"
        >
          HolidayZ
        </h1>
        <p
          data-aos="fade"
          data-aos-easing="linear"
          data-aos-duration="1000"
          data-aos-once="true"
          class="lead text-white my-4"
        >
          Réservez votre prochaine vacance !
        </p>
        <a
          href="#"
          data-aos="fade"
          data-aos-easing="linear"
          data-aos-duration="1000"
          data-aos-once="true"
          class="btn my-4 font-weight-bold atlas-cta cta-pink"
          >Commencez</a
        >
      </div>
    </div>
    <!-- three-blcok -->
    <div class="container my-5 py-2">
      <h2 class="text-center font-weight-bold my-5">
        Touvez l'endroit idéal pour vos prochaines vancances !
      </h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>
    <!-- feature (skew background) -->
    <div class="jumbotron jumbotron-fluid feature" id="feature-first">
      <div class="container my-5">
        <div class="row justify-content-between text-center text-md-left">
          <div
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-once="true"
            class="col-md-8"
          >
            <h2 class="font-weight-bold">QU’EST-CE QUE HOLIDAYZ ?</h2>
            <p class="my-4">
              Notre platforme permet à ses Membres de publier ces Services
              d’Hôte et de communiquer et traiter directement avec des Membres
              qui souhaitent réserver ces Services d’Hôte. Les Services d’Hôte
              peuvent comprendre la location de logements pour des vacances, des
              activités sur une ou plusieurs journées dans différentes
              catégories, un accès à des événements et lieux uniques, ainsi que
              d’autres services variés, en lien ou non avec les voyages. Vous
              devez créer un compte pour pouvoir publier une Annonce.
            </p>
            <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Plus</a>
          </div>
          <div
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-once="true"
            class="col-md-4 align-self-center"
          >
            <img
              src="assets/images/welcome/tunisia_1558274211.jpg"
              alt="Take a look inside"
              class="mx-auto d-block"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- three-blcok -->
    <div class="container my-5 py-2">
      <h2 class="text-center font-weight-bold my-5">
        QUI PEUT DEVENIR HÔTE SUR AIRBNB (LOGEMENTS) ?
      </h2>
      <p>
        Pratiquement tout le monde peut devenir hôte, que vous soyez un
        professionnel ou un non-professionnel. Votre inscription et la mise en
        ligne de votre logement sont gratuites. Les logements disponibles sur le
        site sont aussi variés que les hôtes qui les publient. Vous pouvez
        publier une annonce pour votre logement dans presque tous les pays du
        monde. Bien que nous souhaiterions faire d'Airbnb un lieu d'échange
        mondial, nous sommes soumis aux lois internationales qui limitent
        l'utilisation de notre site aux résidents de certains pays. Par
        conséquent, nos services ne sont donc pas accessibles en Crimée, en
        Iran, en Syrie et en Corée du Nord. Pour proposer des séjours agréables
        et adaptés aux voyageurs, nous demandons à tous les hôtes de respecter 4
        critères de base :
      </p>
      <div class="row">
        <div
          data-aos="fade-up"
          data-aos-delay="0"
          data-aos-duration="1000"
          data-aos-once="true"
          class="col-md-3 text-center"
        >
          <img
            src="assets/images/img/smart-protect-1.jpg"
            alt="Anti-spam"
            class="mx-auto"
          />
          <h4>Faire preuve de réactivité :</h4>
          <p>
            maintenez un taux de réponse élevé en répondant aux demandes
            d'information et de réservation dans les 24 heures.
          </p>
        </div>
        <div
          data-aos="fade-up"
          data-aos-delay="200"
          data-aos-duration="1000"
          data-aos-once="true"
          class="col-md-3 text-center"
        >
          <img
            src="assets/images/img/smart-protect-2.jpg"
            alt="Phishing Detect"
            class="mx-auto"
          />
          <h4>Accepter les demandes de réservation :</h4>
          <p>
            montrez aux voyageurs qu'ils sont les bienvenus en acceptant les
            demandes de réservation lorsque votre logement est disponible.
          </p>
        </div>
        <div
          data-aos="fade-up"
          data-aos-delay="400"
          data-aos-duration="1000"
          data-aos-once="true"
          class="col-md-3 text-center"
        >
          <img
            src="assets/images/img/smart-protect-3.jpg"
            alt="Smart Scan"
            class="mx-auto"
          />
          <h4>Éviter les annulations :</h4>
          <p>
            les annulations ne sont pas anodines et nous demandons à tous les
            hôtes d'éviter d'annuler les réservations des voyageurs pour ne pas
            compromettre leurs projets de voyage.
          </p>
        </div>
        <div
          data-aos="fade-up"
          data-aos-delay="400"
          data-aos-duration="1000"
          data-aos-once="true"
          class="col-md-3 text-center"
        >
          <img
            src="assets/images/img/smart-protect-3.jpg"
            alt="Smart Scan"
            class="mx-auto"
          />
          <h4>Maintenir une bonne évaluation globale :</h4>
          <p>
            les voyageurs aiment pouvoir s'attendre à un niveau de qualité
            constant, quelle que soit leur destination.
          </p>
        </div>
      </div>
    </div>

    <!-- contact -->
    <div
      class="jumbotron jumbotron-fluid"
      id="contact"
      style="background-image: url(assets/images/img/contact-bk.jpg)"
    >
      <div class="container my-5">
        <div class="row justify-content-between">
          <div class="col-md-6 text-white">
            <h2 class="font-weight-bold">Contact Us</h2>
            <p class="my-4">
              Te iisque labitur eos, nec sale argumentum scribentur,
              <br />
              augue disputando in vim. Erat fugit sit at, ius lorem.
            </p>
            <ul class="list-unstyled">
              <li>Email : company_email@com</li>
              <li>Phone : 361-688-5824</li>
              <li>Address : 4826 White Avenue, Corpus Christi, Texas</li>
            </ul>
          </div>
          <div class="col-md-6">
            <form>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="name" class="form-control" id="name" />
                </div>
                <div class="form-group col-md-6">
                  <label for="Email">Your Email</label>
                  <input type="email" class="form-control" id="Email" />
                </div>
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
              </div>
              <button
                type="submit"
                class="btn font-weight-bold atlas-cta atlas-cta-wide cta-green my-3"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- copyright -->
    <div class="jumbotron jumbotron-fluid" id="copyright">
      <div class="container">
        <div class="row justify-content-between">
          <div
            class="col-md-6 text-white align-self-center text-center text-md-left my-2"
          >
            Copyright © 2018 Chen, Yi-Ya.
          </div>
          <div
            class="col-md-6 align-self-center text-center text-md-right my-2"
            id="social-media"
          >
            <a href="#" class="d-inline-block text-center ml-2">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#" class="d-inline-block text-center ml-2">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#" class="d-inline-block text-center ml-2">
              <i class="fa fa-medium" aria-hidden="true"></i>
            </a>
            <a href="#" class="d-inline-block text-center ml-2">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- AOS -->
    <script src="js/aos.js"></script>
    <script>
      AOS.init({});
    </script>
  </body>
</html>
