<div class="d-flex justify-content-center">
  <form
    [formGroup]="installationForm"
    (ngSubmit)="update()"
    *ngIf="installationForm"
  >
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="lib">Installation:</label>
          <input
            type="text"
            [ngClass]="{
              'is-valid': validForm && !installationForm.controls.lib.errors,
              'is-invalid': validForm && installationForm.controls.lib.errors
            }"
            class="form-control"
            id="lib"
            formControlName="lib"
            placeholder="lib"
            name="lib"
            ngModel
          />
          <div class="invalid-feedback">Libellé obligatoire !</div>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">
            Enregistrer modification
          </button>
          <button
            class="btn btn-primary"
            type="submit"
            routerLink="/installations"
          >
            Liste d'installations
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
