<div class="container">
    <div class="card">
      <div class="card-header">Reset mot de passe</div>
      <div class="card-body">
        <form [formGroup]="resetForm" (ngSubmit)="reset()" *ngIf="resetForm">
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              [ngClass]="{
                'is-valid': validForm && !resetForm.controls.password.errors,
                'is-invalid': validForm && resetForm.controls.password.errors
              }"
              placeHolder="mot de passe"
              name="password"
              ngModel
            />
            <div class="invalid-feedback">mot de passe obligatoire !</div>
          </div>

          <div class="form-group">
            <label for="pwd">Confirmer votre mot de passe</label>
            <input
              type="password"
              class="form-control"
              formControlName="pwd"
              [ngClass]="{
                'is-valid': validForm && !resetForm.controls.password.errors,
                'is-invalid': validForm && resetForm.controls.password.errors
              }"
              placeHolder="mot de passe"
              name="pwd"
              ngModel
            />
            <div class="invalid-feedback">mot de passe obligatoire !</div>
          </div>
  
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  