<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="w-50">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Reset password</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="forgetForm" (ngSubmit)="login()" *ngIf="forgetForm">
          <div class="row">
            <div class="col-12">
              <label for="email">E-mail:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                [ngClass]="{
                  'is-valid': validForm && !forgetForm.controls.email.errors,
                  'is-invalid': validForm && forgetForm.controls.email.errors
                }"
                placeholder="email"
                name="email"
                ngModel
              />
              <div class="invalid-feedback">E-mail obligatoire !</div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button type="submit" class="btn btn-secondary pull-right">
              Envoyer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
