<div class="card">
  <div class="card-header">
    <h4 class="card-title">Liste de types de contrat</h4>
    <button
      class="btn rounded-pill btn-primary pull-right"
      routerLink="/types_contrats/add"
    >
      <i class="bi bi-plus"></i> Nouveau type de contrat
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table 
      class="table table-bordered table-hover"
       *ngIf="typesContrat.length > 0" datatable [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">#</th>
            <th class="text-dark font-medium fs-4">Lib</th>
            <th class="text-dark font-medium fs-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of typesContrat">
            <td class="fs-4">
              <span *ngIf="t.icon"
                ><img
                  [src]="t.icon"
                  alt="user"
                  width="45"
                  class="rounded"
              /></span>
            </td>
            <td class="fs-4">{{ t.lib }}</td>
            <td>
              <button
                class="btn rounded-circle btn-success"
                routerLink="/types_contrats/update/{{ t._id }}"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <button
                class="btn rounded-circle btn-danger"
                (click)="suppTypeContrat(t._id)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
